7plus.opensdf
Debug/7plus.Build.CppClean.log
Debug/7plus.log
Debug/7plus.obj
Debug/7plus.tlog/7plus.lastbuildstate
Debug/7plus.tlog/cl.command.1.tlog
Debug/7plus.tlog/CL.read.1.tlog
Debug/7plus.tlog/CL.write.1.tlog
Debug/correct.obj
Debug/decode.obj
Debug/encode.obj
Debug/extract.obj
Debug/join.obj
Debug/rebuild.obj
Debug/test.obj
Debug/vc120.idb
Debug/vc120.pdb
Debug/7plus.Build.CppClean.log
Debug/7plus.log
Debug/7plus.log
7plus.sdf
Debug/*
